{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <div class="row">

    <!--Display profile photo-->
  <div style="margin-bottom: 4rem;">

    {% if user.profile_pic_path %}
    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail" style="max-height: 12rem; width: auto;">
    {%else%}
    <p style="width: 15rem; height: 15rem; margin: auto; border-radius: 50%; background-color: gray;"></p>
    {% endif %}
  </div>

        {% if user == current_user %}
            <form action="{{url_for('main.upload_profile_pic',username=user.username)}}" method="POST" enctype = "multipart/form-data" style="max-width: 40%; margin: auto;">

                <input type="file"  name="photo" class="form-control" required>
                <input type="submit" class="btn btn-primary" style="margin-top: 2rem;">
            </form>
          {% endif %}

    <div>
        <h3> {{user.username| capitalize}} </h3>

        <!--Displaying user bio-->
        {% if user.bio %}
          <p> {{user.bio}}</p>
        {%else%}
          <p> {{user.username| capitalize}} has no bio </p>
        {% endif %}
    </div>

  <div>
    {% if user == current_user %}
      <a href="{{url_for('main.updateprofile',username=user.username)}}" class="btn btn-success">Edit profile</a>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}