{% macro displayMovieList(movie_list) %}

<div class="row">
    {% for movie in movie_list %}
    <div class="col-sm-6 col-md-4" style="width: auto;">
        <div class="thumbnail">
            <img src="{{ movie.poster }}" alt="{{ movie.title }}" style="max-height: 35rem; width: auto;">
            <div class="caption text-center">
                <p style="font-size: 2rem; font-weight: bold; word-wrap: normal;">{{ movie.title }}</p>
                <p><a href="/movie/{{movie.id}}" class="btn btn-primary" role="button">More</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endmacro %}

<!-- Displaying reviews macro -->
{% macro displayReviews(review_list) %}
<div>
    <ol>
        {% for review in review_list %}
        <li>
            {{ review.movie_review }}
        </li>
        {% endfor %}
    </ol>
</div>
{% endmacro %}